################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EdiFabric.Examples.EDIFACT/v16
/NET Framework 4.8/.vs/EdiFabric.Examples.EDIFACT
/NET Framework 4.8/EdiFabric.Examples.EDIFACT.AcknowledgeEDI/bin/Debug
/NET Framework 4.8/EdiFabric.Examples.EDIFACT.AcknowledgeEDI/obj/Debug
/NET Framework 4.8/EdiFabric.Examples.EDIFACT.BAPLIE/bin/Debug
/NET Framework 4.8/EdiFabric.Examples.EDIFACT.BAPLIE/obj/Debug
/NET Framework 4.8/EdiFabric.Examples.EDIFACT.Common/bin/Debug
/NET Framework 4.8/EdiFabric.Examples.EDIFACT.Common/obj/Debug
/NET Framework 4.8/EdiFabric.Examples.EDIFACT.CSV/bin/Debug
/NET Framework 4.8/EdiFabric.Examples.EDIFACT.CSV/obj/Debug
/NET Framework 4.8/EdiFabric.Examples.EDIFACT.CUSCAR/bin/Debug
/NET Framework 4.8/EdiFabric.Examples.EDIFACT.CUSCAR/obj/Debug
/NET Framework 4.8/EdiFabric.Examples.EDIFACT.DB/bin/Debug
/NET Framework 4.8/EdiFabric.Examples.EDIFACT.DB/obj/Debug
/NET Framework 4.8/EdiFabric.Examples.EDIFACT.Demo/bin/Debug
/NET Framework 4.8/EdiFabric.Examples.EDIFACT.Demo/obj/Debug
/NET Framework 4.8/EdiFabric.Examples.EDIFACT.DESADV/bin/Debug
/NET Framework 4.8/EdiFabric.Examples.EDIFACT.DESADV/obj/Debug
/NET Framework 4.8/EdiFabric.Examples.EDIFACT.EANCOM.Syntax3/bin/Debug
/NET Framework 4.8/EdiFabric.Examples.EDIFACT.EANCOM.Syntax3/obj/Debug
/NET Framework 4.8/EdiFabric.Examples.EDIFACT.IFTMIN/bin/Debug
/NET Framework 4.8/EdiFabric.Examples.EDIFACT.IFTMIN/obj/Debug
/NET Framework 4.8/EdiFabric.Examples.EDIFACT.IFTSTA/bin/Debug
/NET Framework 4.8/EdiFabric.Examples.EDIFACT.IFTSTA/obj/Debug
/NET Framework 4.8/EdiFabric.Examples.EDIFACT.INVOIC/bin/Debug
/NET Framework 4.8/EdiFabric.Examples.EDIFACT.INVOIC/obj/Debug
/NET Framework 4.8/EdiFabric.Examples.EDIFACT.JSON/bin/Debug
/NET Framework 4.8/EdiFabric.Examples.EDIFACT.JSON/obj/Debug
/NET Framework 4.8/EdiFabric.Examples.EDIFACT.MapEDI/bin/Debug
/NET Framework 4.8/EdiFabric.Examples.EDIFACT.MapEDI/obj/Debug
/NET Framework 4.8/EdiFabric.Examples.EDIFACT.ModifyTemplates/bin/Debug
/NET Framework 4.8/EdiFabric.Examples.EDIFACT.ModifyTemplates/obj/Debug
/NET Framework 4.8/EdiFabric.Examples.EDIFACT.ORDERS/bin/Debug
/NET Framework 4.8/EdiFabric.Examples.EDIFACT.ORDERS/obj/Debug
/NET Framework 4.8/EdiFabric.Examples.EDIFACT.ORDRSP/bin/Debug
/NET Framework 4.8/EdiFabric.Examples.EDIFACT.ORDRSP/obj/Debug
/NET Framework 4.8/EdiFabric.Examples.EDIFACT.PAXLST/bin/Debug
/NET Framework 4.8/EdiFabric.Examples.EDIFACT.PAXLST/obj/Debug
/NET Framework 4.8/EdiFabric.Examples.EDIFACT.PNRGOV/bin/Debug
/NET Framework 4.8/EdiFabric.Examples.EDIFACT.PNRGOV/obj/Debug
/NET Framework 4.8/EdiFabric.Examples.EDIFACT.PRICAT/bin/Debug
/NET Framework 4.8/EdiFabric.Examples.EDIFACT.PRICAT/obj/Debug
/NET Framework 4.8/EdiFabric.Examples.EDIFACT.ReadEDI/bin/Debug
/NET Framework 4.8/EdiFabric.Examples.EDIFACT.ReadEDI/obj/Debug
/NET Framework 4.8/EdiFabric.Examples.EDIFACT.Templates/bin/Debug
/NET Framework 4.8/EdiFabric.Examples.EDIFACT.Templates/obj/Debug
/NET Framework 4.8/EdiFabric.Examples.EDIFACT.ValidateEDI/bin/Debug
/NET Framework 4.8/EdiFabric.Examples.EDIFACT.ValidateEDI/obj/Debug
/NET Framework 4.8/EdiFabric.Examples.EDIFACT.WriteEDI/bin/Debug
/NET Framework 4.8/EdiFabric.Examples.EDIFACT.WriteEDI/obj/Debug
/NET Framework 4.8/EdiFabric.Examples.EDIFACT.XML/bin/Debug
/NET Framework 4.8/EdiFabric.Examples.EDIFACT.XML/obj/Debug
/NET Framework 4.8/EdiFabric.Examples.EDIGAS.NOMINT/bin/Debug
/NET Framework 4.8/EdiFabric.Examples.EDIGAS.NOMINT/obj/Debug
/NET Framework 4.8/packages
/packages
/NET 6/.vs/EdiFabric.Examples.EDIFACT
/NET 6/EdiFabric.Examples.EDIFACT.AcknowledgeEDI/bin
/NET 6/EdiFabric.Examples.EDIFACT.AcknowledgeEDI/obj
/NET 6/EdiFabric.Examples.EDIFACT.Common/bin
/NET 6/EdiFabric.Examples.EDIFACT.Common/obj
/NET 6/EdiFabric.Examples.EDIFACT.CSV/bin
/NET 6/EdiFabric.Examples.EDIFACT.CSV/obj
/NET 6/EdiFabric.Examples.EDIFACT.DB/bin
/NET 6/EdiFabric.Examples.EDIFACT.DB/obj
/NET 6/EdiFabric.Examples.EDIFACT.Demo/bin
/NET 6/EdiFabric.Examples.EDIFACT.Demo/obj
/NET 6/EdiFabric.Examples.EDIFACT.JSON/bin
/NET 6/EdiFabric.Examples.EDIFACT.JSON/obj
/NET 6/EdiFabric.Examples.EDIFACT.MapEDI/bin
/NET 6/EdiFabric.Examples.EDIFACT.MapEDI/obj
/NET 6/EdiFabric.Examples.EDIFACT.MapEDI/EdiFabric.Examples.EDIFACT.MapEDI.csproj.user
/NET 6/EdiFabric.Examples.EDIFACT.ModifyTemplates/bin
/NET 6/EdiFabric.Examples.EDIFACT.ModifyTemplates/obj
/NET 6/EdiFabric.Examples.EDIFACT.ReadEDI/bin
/NET 6/EdiFabric.Examples.EDIFACT.ReadEDI/obj
/NET 6/EdiFabric.Examples.EDIFACT.Templates/bin
/NET 6/EdiFabric.Examples.EDIFACT.Templates/obj
/NET 6/EdiFabric.Examples.EDIFACT.ValidateEDI/bin
/NET 6/EdiFabric.Examples.EDIFACT.ValidateEDI/obj
/NET 6/EdiFabric.Examples.EDIFACT.WriteEDI/bin
/NET 6/EdiFabric.Examples.EDIFACT.WriteEDI/obj
/NET 6/EdiFabric.Examples.EDIFACT.XML/bin
/NET 6/EdiFabric.Examples.EDIFACT.XML/obj
/NET 6/EdiFabric.Examples.EANCOM.INVOIC.Syntax3/bin
/NET 6/EdiFabric.Examples.EANCOM.INVOIC.Syntax3/obj
/NET 6/EdiFabric.Examples.EDIFACT.BAPLIE/bin
/NET 6/EdiFabric.Examples.EDIFACT.BAPLIE/obj
/NET 6/EdiFabric.Examples.EDIFACT.CUSCAR/bin
/NET 6/EdiFabric.Examples.EDIFACT.CUSCAR/obj
/NET 6/EdiFabric.Examples.EDIFACT.DESADV/bin
/NET 6/EdiFabric.Examples.EDIFACT.DESADV/obj
/NET 6/EdiFabric.Examples.EDIFACT.IFTMIN/bin
/NET 6/EdiFabric.Examples.EDIFACT.IFTMIN/obj
/NET 6/EdiFabric.Examples.EDIFACT.IFTSTA/bin
/NET 6/EdiFabric.Examples.EDIFACT.IFTSTA/obj
/NET 6/EdiFabric.Examples.EDIFACT.INVOIC/bin
/NET 6/EdiFabric.Examples.EDIFACT.INVOIC/obj
/NET 6/EdiFabric.Examples.EDIFACT.ORDERS/bin
/NET 6/EdiFabric.Examples.EDIFACT.ORDERS/obj
/NET 6/EdiFabric.Examples.EDIFACT.ORDRSP/bin
/NET 6/EdiFabric.Examples.EDIFACT.ORDRSP/obj
/NET 6/EdiFabric.Examples.EDIFACT.PAXLST/bin
/NET 6/EdiFabric.Examples.EDIFACT.PAXLST/obj
/NET 6/EdiFabric.Examples.EDIFACT.PNRGOV/bin
/NET 6/EdiFabric.Examples.EDIFACT.PNRGOV/obj
/NET 6/EdiFabric.Examples.EDIFACT.PRICAT/bin
/NET 6/EdiFabric.Examples.EDIFACT.PRICAT/obj
/NET 6/EdiFabric.Examples.EDIGAS.NOMINT/bin
/NET 6/EdiFabric.Examples.EDIGAS.NOMINT/obj
