<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EdiFabric.Definitions" value="EdiFabric.Definitions" />
    <add key="EdiFabric.Validators" value="EdiFabric.Validators" />
    <!--<add key="EdiFabric.LogFile" value="C:\Git\ediFabric\log.txt" />-->
  </appSettings>
</configuration>