<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EdiFabric" version="10.5.2" targetFramework="net48" />
  <package id="EdiFabric.Templates.Edifact" version="2.7.1" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net461" />
</packages>