<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="7.0.1" targetFramework="net45" />
  <package id="EdiFabric" version="10.7.0" targetFramework="net48" />
  <package id="EdiFabric.Templates.Edifact" version="2.7.2" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net45" requireReinstallation="true" />
</packages>